<div class="container-fluid">
    <div class="row centeredText" id="loginHeader">
      <h3>
        {{title}}
      </h3>
    </div>
  
    <div id="mainLoginContainer" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h4 class="centeredText">Login</h4>
        <p id="versionLabel" class="centeredText">Version 0.0.1</p>
        <form class="center centeredText" [formGroup]="loginForm">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="e-mail"
              formControlName = "username"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="password"
              formControlName = "password"
            />
          </div>
          <button type="submit" class="btn btn-lg btn-success" id="loginSubmitButton" onsubmit="return;" (click)= "login()">
            Submit
          </button>
          <!-- <h6 id="forgotPasswordLabel">Forgot your password?</h6> -->
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    <footer class="footer"></footer>
  </div>
  