.centeredText {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #218838;
  color: white;
  text-align: center;
  min-height: 50px;
}
#loginHeader {
  background: #218838;
}
#loginHeader > h3 {
  color: white;
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#mainLoginContainer {
  min-height: 70%;
  min-height: 70vh;
  display: flex;
  align-items: center;
}
#loginSubmitButton {
  border-color: white;
}
#forgotPasswordLabel {
  margin-top: 20px;
}
#versionLabel {
  margin-bottom: 25px;
}
