// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$html5-primary: mat-palette($mat-green);
$html5-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$html5-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$html5-theme: mat-light-theme($html5-primary, $html5-accent, $html5-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($html5-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url(/assets/rest_framework/img/grid.png) repeat-x;
  background-attachment: fixed;
}


/* Tokio 2020 */

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  margin-bottom: 24px;

  a.menu {
    color: #FFF;

    &:hover,
    &:link {
      color: #FFF;
      text-decoration: none;
    }
  }

  .mat-raised-button {
    margin-left: 16px;
  }
}

.mat-card {
  margin-bottom: 24px;

  .app-img-top {
    margin-bottom: 8px;
    text-align: center;

    img {
      max-height: 300px;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.sport-icon {
  height: 32px;
  transition: all 500ms;
  margin-right: 8px;

  &:hover {
    background-color: #cccccc;
    border-radius: 3px;
  }
}

.mat-form-field {
  width: 100%;
}

table {
  width: 100%;

  &.detail {
    border-spacing: 0;

    tr {
      height: 48px;
    }

    td,
    th {
      padding: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, .12);
      font-size: 14px;
    }
  }
}

.app-container {
  position: relative;
  min-height: 200px;
}

.app-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.app-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px !important;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 24px !important;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 8px !important;
}

.hand {
  cursor: pointer;
}

.img-video {
  height: 48px;
}
