<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <a class="menu" [routerLink]="['/']">Colombia en Tokio 2020</a>
    <span class="toolbar-spacer d-none d-sm-block"></span>
    <a mat-raised-button class="d-none d-sm-block" [routerLink]="['/users/login']" *ngIf="!user || !user['email']">Login </a>
    <a mat-raised-button class="d-none d-sm-block" color="accent" [routerLink]="['/users/register']" *ngIf="!user || !user['email']">Registro</a>
    <button mat-raised-button class="d-none d-sm-block" *ngIf="user && user['email']" (click)="logout()">Salir</button>
  </mat-toolbar-row>
  <mat-toolbar-row class="d-sm-none">
    <div class="container text-center">
      <a mat-raised-button [routerLink]="['/users/login']" *ngIf="!user || !user['email']">Login </a>
      <a mat-raised-button color="accent" [routerLink]="['/users/register']" *ngIf="!user || !user['email']">Registro</a>
      <button mat-raised-button *ngIf="user && user['email']" (click)="logout()">Salir</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
