<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-msg-error [error]="errorRest"></app-msg-error>
    </div>
    <div class="app-loading-shade" *ngIf="isLoadingResultsA">
      <mat-spinner *ngIf="isLoadingResultsA"></mat-spinner>
    </div>

    <div class="col-md-12" *ngIf="!isLoadingResultsA">
      <h1>{{event.result}}</h1>
      <h4>{{event.datetime | date:'short'}}</h4>
    </div>
    <div class="col-md-12" *ngIf="!isLoadingResultsA">
      <div id="player"></div>
    </div>

    <div class="app-loading-shade" *ngIf="isLoadingResultsC">
      <mat-spinner *ngIf="isLoadingResultsC"></mat-spinner>
    </div>
  </div>
  <div class="row" *ngIf="!isLoadingResultsC">
    <div class="col-md-12">
      <h2>Comentarios</h2>
    </div>

    <div *ngFor="let comment of comments.results" class="col-12">
      <mat-card>
        <mat-card-content>
          <p>
            {{comment.text}}
          </p>
          <div class="text-rigth">{{comment.created_at | date:'short'}} - <b>{{comment.user.username}}</b></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <form [formGroup]="commentForm" novalidate (ngSubmit)="comment()" *ngIf="user.ok">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="fill">
          <mat-label>Comentar</mat-label>
          <textarea matInput formControlName="text"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <button mat-raised-button color="accent" class="btn-block">Enviar comentario</button>
      </div>
    </div>
  </form>
</div>
